@model IEnumerable<OrderDetail>
@using ECommerce.Entity
@{
    ViewBag.Title = "OrderDet";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>OrderDet</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <td> </td>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <td> </td>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <td> </td>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td> </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td> </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td> </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
    }
</table>